body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 990px) {
    .navbar li:not(.navbar-brand) {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
        color: whitesmoke;
        margin-left: 10px;
    }
}

@media screen and (max-width: 990px) {
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .navbar.responsive li {
        float: none;
        display: block;
        text-align: left;
    }
}